h1{text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
    background-color: #ee8d6a;
    color: #ffffff;
    font-family: 'Dancing Script', cursive;
    margin: 0.15rem;
    max-width: 750px;
    margin-top: 10px;
    

}

h2{
    font-family: 'Dancing Script', cursive;
    padding-top: 12px;
        font-family: 'Mansalva', cursive;
}

p{font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;

}

footer a:link{color: #ffffff;
}

header, footer, main
{max-width: 750px;
    margin-top: 10px; }