/*desktop view*/
@media only screen and (min-width: 60em) {


    footer{text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 1010px;
    }
    
    section{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    img{box-shadow:none;

    }
    figure:hover{
        box-shadow: 0 0 50px #333;}
     
    .contact{
            text-align: left;
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            margin-bottom: 50x;
            width: 825px;
            padding-bottom: 15px;  
            display: flex;
        }
    .info{
        width: 350px;
        float:left;
        text-align: left;

    }
    
    .contact img{ width: 350px;
            padding-right: 10px;
            padding-top: 0px;
            margin-left: auto;
            margin-right: auto;
            display:flex;
}
  
}