/*tablet view*/
@media only screen and (min-width: 37.5em) {
    nav ul{
            display: flex;}
    
    nav ul li{flex: 1 1 100%;}
    
    main{
        grid-template-columns: 1fr 1fr;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
        width: 700px;
        text-align: center;
        
    }
    section{
        width:700px;
    }
    section h2 p{
        text-align: center;
        display: flex;
    }

    .navigation {
		display: flex;
	}
	.navigation li:first-child {
		display: none;
	}
	.navigation li {
		display: block;
		flex: 1 1 100%;
    }
    main h2{
        text-align:center;
        margin: 25px;
    }
    .cold img{        
        width: 90%;
        height:350px;
        margin-left: auto;
    margin-right: auto;
    
    }
    
    .herodiv{ position: relative; 
    }

    .weathersummary{position: absolute;
        top: 30px;
        left: 30px;
        width: 320px;
        height: 250px;
        color: crimson;
        background-color: white;
        padding-top: 10px;
        font-style: normal;
        box-shadow: 0 0 30px white;
    }
    .weathersummary h3{
        font-size: 23px;
    }
    .weathersummary p{
        font-size: 20px;
    }
    .forecast { display: none;
    }
    .street img{ display: flex;
        width: 75%;
        margin: 0 auto;
    }

    .cards section{width: 60%;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .cards img{width: 70%;
    }
    
    .articlepage{ 
        text-align: center;
        margin-top: 20px;
    }
    .articlepage p{text-align: center;
    padding-left: 5px;
    padding-right: 18px;
    }
    .street img{
        margin-left: auto;
            margin-right: auto;
            width: 60%;
            height: 275px;
    }


    .contact img{ width: 40%;
		display: flex;
		margin-top: 0px;
		float:left;
	}

	.contact{ 
		margin-left: auto;
		margin-right: auto;
		width: 510px;
		margin-top: 100px;
		margin-bottom: 50px;
		display:flex;
    }
    
    .contact h3{
        text-align: left;
        margin-top: 0px;
        padding-top: 0px;
    }
	.info{
		margin: 0 auto;
        text-align: left;
        padding-top: 0px;
	}

}